<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Gear.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="MyNesting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Gear.Properties.Settings>
            <setting name="NumberOfTeethL" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Module" serializeAs="String">
                <value>0.002</value>
            </setting>
            <setting name="PressureAngleDegrees" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Depth" serializeAs="String">
                <value>0.002</value>
            </setting>
            <setting name="NumberOfTeethR" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="DedendumClearance" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="UseTrochoidalInterferenceRemoval" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddDedendumClearace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BevelAngle" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="IsBevel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BevelKneeRatio" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="HelicalAngle" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="IsHelical" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScrewAngle" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="ScrewAngleOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsScrew" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsHypoid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HypoidAngle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HypoidOffset" serializeAs="String">
                <value>0</value>
            </setting>
        </Gear.Properties.Settings>
        <MyNesting.Properties.Settings>
            <setting name="BaseDiameter" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="MajorDiameter" serializeAs="String">
                <value>0.12</value>
            </setting>
            <setting name="NumberOfTeeth" serializeAs="String">
                <value>12</value>
            </setting>
        </MyNesting.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
